@font-face
{
    font-family: "Montserrat";
    src : url("./../fonts/Montserrat.ttf")
}

@font-face
{
    font-family: "Poppins";
    src : url("./../fonts/Poppins.ttf")
}


* {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 50px;
}

html, body {
  height: 100%;
  
}

body, p, input, button, textarea, a {
  font-family: "Poppins";
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

#__next {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.2;
}

img {
  object-fit: cover;
}

.heading {
  color: #FFFFFF;
  text-align: center;
  background-color: #555555;
  padding: 20px 55px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.heading-wrapper {
  gap: 15px;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 55px;
  & .back {
    flex-grow: 1;
    padding: 25px 75px;
    cursor: pointer;
    transform: scale(1);
    transition: .3s all;
    &:hover {
      transform: scale(1.02);
    }
  }
  & .title {
    flex-grow: 10;
  }
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 35px;
  position: relative;

  & .post {
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    cursor: pointer;
    & .image {
      position: relative;
      height: 250px;
      & img {
        height: 100%;
        width: 100%;
      }
    }
    & .info {
      padding: 25px;
      & h2 {
        margin-bottom: 10px;
      }
      & p {
        color: #707070;
      }
    }
  }
}

.post {
  & .wysiwyg {
    & img {
      //width: 100%;
    }
    & figcaption {
      margin-top: auto;
    }
  }
}
@media screen and (max-width: 1440px) {
  .heading-wrapper {
    font-size: 17px;
  }
  .posts {
    grid-template-columns: 1fr 1fr;
    & .post {
      & .image {
        position: relative;
        height: 230px;
      }
      & p {
        font-size: 17px
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .heading-wrapper {
    font-size: 14px;
  }
  .container {
      padding: 50px 25px;
  }
  .posts {
    grid-template-columns: 1fr;
  }
  .posts {
    & .post {
      & .image {
        position: relative;
        height: 200px;
      }
      & p {
        font-size: 16px
      }
    }
  }
}

.message {
  font-family: "Montserrat";
  text-align: center;
  font-size: 23px;
  position: absolute;
  width: 100%;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 7px;
  background: #555555;
  transform-origin: 0%;
  z-index: 25;
}

@media screen and (max-width: 570px) {
  .heading, .posts .post {
    border-radius: 23px;
  }
  .heading-wrapper {
    font-size: 12px;
  }
  iframe[title="YouTube video player"]
  {
    width: 100%;
  }
  .progress-bar {
    height: 5px;
  }
}

@media screen and (max-width: 425px) {
  .heading, .posts .post {
    border-radius: 20px;
  }
  .heading-wrapper {
    font-size: 11px;
  }
  .container {
      padding: 50px 15px;
  }
}